<template name="game">
  <div class="ui container">
  <div class="ui grid middle aligned centered" style="min-height: 100vh;">
    {{> button id="button-1" class="red"}}
    {{> button id="button-2" class="orange"}}
    {{> button id="button-3" class="yellow"}}
    {{> button id="button-4" class="olive"}}
    {{> button id="button-5" class="green"}}
    {{> button id="button-6" class="teal"}}
    {{> button id="button-7" class="blue"}}
    {{> button id="button-8" class="violet"}}
    {{> button id="button-9" class="purple"}}
    {{> button id="button-10" class="pink"}}
    {{> button id="button-11" class="brown"}}
    {{> button id="button-12" class="grey"}}
    {{> button id="button-13" class="black"}}
    {{> button id="button-14" class="red"}}
    {{> button id="button-15" class="olive"}}
    {{> button id="button-16" class="violet"}}
  </div>
  </div>

  <div class="ui basic small modal">
    <i class="close icon"></i>
    <div class="header">
      Αυτό είναι ένα παράδειγμα
    </div>
    <div class="content">
      <div class="description">
        <p>Ανοίξτε ακόμα μια φορά αυτή τη σελίδα, στον υπολογιστή ή στο κινητό σας. Δοκιμάστε να πιέσετε οποιοδήποτε πλήκτρο και δείτε τι συμβαίνει!</p>
      </div>
    </div>
  </div>
</template>
